CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621
CONFIG_FIRMWARE_PRODUCT_ID="ZBT-WE1326"
CONFIG_LINUXDIR=linux-3.4.x

### Kernel driver select for WiFi AP 2.4GHz 5GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_UFSD=y
CONFIG_FIRMWARE_ENABLE_FAT=y
CONFIG_FIRMWARE_ENABLE_EXT2=y
CONFIG_FIRMWARE_ENABLE_EXT3=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_INCLUDE_PARTED=y
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### Include LPR printer daemon. ~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=y
#CONFIG_FIRMWARE_INCLUDE_U2EC=y

### Include SMB (and WINS) server. ~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=y

CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
